<ion-header>
  <ion-navbar>
    <ion-title>
      Escrutinio App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="mesas" padding>

  <h2 class="center">Selección de mesa</h2>

  <ion-card>
    <ion-card-header>
      Seleccione una provincia, una localidad y una mesa
    </ion-card-header>
  </ion-card>
  <div *ngIf="tienePermisos">
    <ion-item>
      <ion-label>Provincia</ion-label>
      <ion-select>
        <ion-option (ionSelect)="onChange(provincia.nombreProvincia)" *ngFor="let provincia of provincias" [value]="provincia.nombreProvincia">{{provincia.nombreProvincia}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Localidad</ion-label>
      <ion-select>
        <ion-option (ionSelect)="buscarMesas(localidad.nombreLocalidad)" *ngFor="let localidad of localidadesProvincia" [value]="localidad.nombreLocalidad">{{localidad.nombreLocalidad}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="tienePermisos==false">
    <ion-label>Localidad: {{localidad}}</ion-label>
  </div>

  <ion-item>
    <ion-label>Mesa</ion-label>
    <ion-select >
      <ion-option (ionSelect)="buscarCandidatos(mesa.id)" *ngFor="let mesa of mesasLocalidades" [value]="mesa.numero">{{mesa.numero}}</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button color="secondary" (click)="nav()">Submit</button>
  <button ion-button color="default" (click)="photo()">Subir foto</button>
</ion-content>
