<p><strong class="localidad-lista-titulo">Listado de localidades</strong></p>
<spinner *ngIf="!locCargadas"></spinner>
<ul class="localidad-lista">
  <li *ngFor="let value of localidades">
    <span class="first">{{value.nombreLocalidad}}</span>
    <span class="second">{{value.provincia.nombreProvincia}}</span>
    <span>
      <button class="btn btn-info" (click)="cambiarLoc(value.id)"><span class="glyphicon glyphicon-pencil"></span></button>
      <button class="btn btn-danger" (click)="delete(value.id)"><span class="glyphicon glyphicon-trash"></span></button>
    </span>
  </li>
</ul>
<div class="localidad-deleted alert alert-success" *ngIf="seBorro">
  <strong>Se ha eliminado correctamente la localidad</strong><span (click)="this.seBorro = false;"> X </span>
</div>
<button class="localidad-agregar btn btn-success" (click)="this.mostrarAgregar = true;" *ngIf="!mostrarAgregar"> NUEVA LOCALIDAD <span class="glyphicon glyphicon-plus"></span></button>
<button class="localidad-agregar btn btn-info" (click)="this.mostrarAgregar = false;" *ngIf="mostrarAgregar"> OCULTAR NUEVO <span class="glyphicon glyphicon-minus"></span></button>
<button class="localidad-agregar btn btn-info" (click)="this.mostrarEditar = false;" *ngIf="mostrarEditar"> OCULTAR EDITAR <span class="glyphicon glyphicon-minus"></span></button>

<div class="localidad-bottom">
  <table class="localidad-alta" *ngIf="mostrarAgregar">
    <tbody>
      <tr><td><h4><strong>Alta de localidad</strong></h4></td></tr>
      <tr>
        <td><label>Nombre de la localidad:</label></td>
        <td><input name="nombre" [(ngModel)]="nombreLocalidad" required></td>
      </tr>
      <tr>
        <td><label>Numero inicial de mesas:</label></td>
        <td><input name="mesas" [(ngModel)]="numeroMesas" required></td>
      </tr>
      <tr>
        <td><label>Provincia</label></td>
        <td>
          <select class="form-control" id="power"
                  required
                  [(ngModel)]="nombreProvincia" name="power">
            <option *ngFor="let cargo of provincias" [value]="cargo.nombreProvincia">{{cargo.nombreProvincia}}</option>
          </select>
        </td>
      </tr>
      <tr><td><button (click)="onSubmit()" type="submit" class="btn btn-success">Submit</button></td></tr>
      <tr>
        <td>
          <div class="alert alert-success" *ngIf="seAgrego">
            <strong>Se ha agregado correctamente la localidad</strong>
          </div>
          <div class="alert alert-warning" *ngIf="error">
            <strong>La localidad que desea agregar ya existe</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="localidad-edit" *ngIf="mostrarEditar">
    <tbody>
      <tr>
        <td><h4><strong>Editar localidad</strong></h4></td>
      </tr>
      <tr>
        <td><label>Nombre localidad:</label></td>
        <td><input name="nombre-edit" [(ngModel)]="nombreLocalidadEdit" required></td>
      </tr>
      <tr>
        <td><label>Numero de mesas disponibles:</label></td>
        <td><input name="mesas-edit" [(ngModel)]="numeroMesasEdit" required></td>
      </tr>
      <tr>
        <td>
          <button (click)="edit()" type="submit" class="btn btn-success">Guardar Cambios</button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="alert alert-success" *ngIf="seEdito">
            <strong>Se ha editado correctamente la localidad</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
