<h1>Formulario alta partido</h1>
<div class="form-group">
  <label for="partido-nombre">Nombre del partido:</label>
  <input type="text" class="form-control" id="partido-nombre" [(ngModel)]="nombrePartido" required>
  <label for="partido-Provincia">Provincia del partido:</label>
  <select class="form-control" id="partido-provincia" [(ngModel)]="provincia" required>
    <option *ngFor="let provincia of provincias" [value]="provincia.nombreProvincia">{{provincia.nombreProvincia}}</option>
  </select>
</div>
<button type="submit" class="btn btn-success" (click)="onSubmit()"> Submit </button>

<div *ngIf=submitted>Se envio la info</div>

