<h1>Formulario alta candidato</h1>
<form (ngSubmit)="onSubmit()" #candidatoForm="ngForm">
  <div class="form-group">
    <label for="candidato-nombre">Nombre:</label>
    <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" id="candidato-nombre"required>
  </div>

  <div class="form-group">
    <label for="candidato-apellido">Apellido:</label>
    <input [(ngModel)]="apellido" name="apellido" type="text" class="form-control" id="candidato-apellido" required>
  </div>

  <label for="candidato-cargo">Cargo:</label>
  <select [(ngModel)]="cargo" name="cargo" class="form-control" id="candidato-cargo" required>
    <option *ngFor="let cargo of cargos; let i = index" [attr.data-index]="i" [value]="i">{{cargo}}</option>
  </select>

  <div *ngIf="cargo==0">
    <label for="candidato-localidad">Localidad:</label>
    <select [(ngModel)]="localidadId" name="localidadId" class="form-control" id="candidato-localidad" required>
      <option *ngFor="let loc of localidades" [value]="loc.id">{{loc.nombreLocalidad + " - " + loc.provincia.nombreProvincia}}</option>
    </select>
  </div>
  <div *ngIf="cargo==1">
    <label for="candidato-localidad">Provincia:</label>
    <select [(ngModel)]="provincia" name="provinciaId" class="form-control" id="candidato-provincia" required>
      <option *ngFor="let prov of provincias" [value]="prov.nombreProvincia">{{prov.nombreProvincia}}</option>
    </select>
  </div>

  

  <div class="form-group">
    <label for="candidato-foto">URL Foto:</label>
    <input [(ngModel)]="foto" name="foto" type="text" class="form-control" id="candidato-apellido">
  </div>

  <label for="candidato-partido">Partido Politico:</label>
  <select [(ngModel)]="partidoId" name="partidoId" class="form-control" id="candidato-partido" required>
    <option *ngFor="let part of partidos" [value]="part.numeroLista">{{part.nombre}}</option>
  </select>

  <button type="submit" class="btn btn-success"
          [disabled]="!candidatoForm.form.valid">
    Submit
  </button>

  <div class="alert alert-success" *ngIf="submitted">
    <strong>Se ha agregado correctamente el candidato</strong>
  </div>
  <div class="alert alert-warning" *ngIf="error">
    <strong>Ya existe un candidato en ese cargo dentro del partido seleccionado</strong>
  </div>
</form>





