<h1>Formulario alta candidato</h1>
<form (ngSubmit)="onSubmit()" #candidatoForm="ngForm">
  <div class="form-group">
    <label for="candidato-nombre">Nombre:</label>
    <input type="text" class="form-control" id="candidato-nombre"required>
  </div>

  <div class="form-group">
    <label for="candidato-apellido">Apellido:</label>
    <input type="text" class="form-control" id="candidato-apellido" required>
  </div>

  <div class="form-group">
    <label for="candidato-edad">Edad:</label>
    <input type="number" class="form-control" id="candidato-edad" required>
  </div>

  <label for="candidato-cargo">Cargo:</label>
  <select class="form-control" id="candidato-cargo" required>
    <option *ngFor="let cargo of cargos" [value]="cargo">{{cargo}}</option>
  </select>

  <button type="submit" class="btn btn-success"
          [disabled]="!candidatoForm.form.valid">
    Submit
  </button>

  <div *ngIf=submitted>Se envio la info</div>
</form>





