<ion-header>
  <ion-navbar>
    <ion-title>
      Grilla de recuento de votos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Lista de partidos
    </ion-card-header>
  </ion-card>
  <form (ngSubmit)="logForm()">
    <ion-list *ngFor="let partido of partidos">
      <ion-list-header>
        {{partido.nombre}}
      </ion-list-header>
      <ng-container *ngFor="let candidato of candidatos; let in = index">
        <ion-item *ngIf="globalVars.isConnected && candidato.partido.numeroLista == partido.numeroLista">
          <ion-label>{{candidato.nombre}} {{candidato.apellido}}</ion-label>
          <ion-input type="number" placeholder="votos" [(ngModel)]="candidato.votos" name="votos-{{in}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="!globalVars.isConnected && candidato.partidoid == partido.numeroLista && candidato.cargo != 0">
          <ion-label>{{candidato.nombre}} {{candidato.apellido}}</ion-label>
          <ion-input type="number" placeholder="votos" [(ngModel)]="candidato.votos" name="votos-{{in}}"></ion-input>
        </ion-item>
      </ng-container>
    </ion-list>

    <button ion-button color="secondary" type="submit">Submit</button>
    </form>
</ion-content>

