.partidos-lista-titulo {
  padding: 20px;
  font-size: 20px;
}

.partidos-lista {
  list-style: none;
  padding: 0;
}

  .partidos-lista li {
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 15px;
    background-color: rgba(195, 255, 195, 0.3);
  }

    .partidos-lista li div {
      display: flex;
      justify-content: space-between;
    }

      .partidos-lista li div .first {
        width: 300px;
        font-size: 16px;
        font-weight: bold;
      }

      .partidos-lista li div .second {
        width: 300px;
      }

      .partidos-lista li div .btn {
        font-size: 12px;
        padding: 2px 6px;
        line-height: 1.2;
        border: 1px solid gray;
      }

.partidos-candidatos-list {
  list-style: none;
  padding: 20px;
}

  .partidos-candidatos-list li {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(200,200,200,0.3);
  }

.part-candidato-imagen {
  border-radius: 50%;
  border: 2px solid black;
  width: 75px;
  height: 75px;
}

.partidos-candidatos-list li span {
  margin: 0 20px;
  font-weight: bold;
  font-size: 16px;
}
