<h2><strong class="partidos-lista-titulo">Listado de partidos politicos</strong></h2>
<spinner *ngIf="!partCargados"></spinner>
<ul class="partidos-lista">
  <li *ngFor="let part of partidos">
    <span class="first">{{part.nombre}}</span>
    <span>
      <button class="btn btn-info" (click)="verLista(part.numeroLista)"><span class="glyphicon glyphicon-info"></span> VER CANDIDATOS </button>
    </span>
  </li>
</ul>

<ul class="partidos-candidatos-list">
  <li *ngFor="let value of candidatos">
    <img class="part-candidato-imagen" src="{{value.urlFoto}}" />
    <span>{{value.apellido}}, {{value.nombre}}</span>
    <span>{{getCargo(value.cargo)}}</span>
  </li>
</ul>

