.app-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-btn {
  border: 2px solid #66ff66;
}

.my-page-header {
  padding-bottom: 9px;
  margin: 5px 0 5px;
  border-bottom: 1px solid #eee;
}
