<h1>Bienvenido al Recuento del Escrutinio</h1>
<ul>
  <li *ngFor="let value of apiValues">{{value.nombreProvincia}}</li>
</ul>
<div class="app-menu-wrapper">
  <div>
    <button (click)="(show='consulta')"> Consultar Localidades </button>
    <button (click)="(show='altaPartido')"> Alta Partido Politico </button>
    <button (click)="(show='altaCandidato')"> Alta Candidato </button>
  </div>
  <div *ngIf="show == 'altaPartido'">
    <partido-politico>
    </partido-politico>
  </div>
  <div *ngIf="show == 'consulta'">
    <localidad>
    </localidad>
  </div>
  <div *ngIf="show == 'altaCandidato'">
    <candidato>
    </candidato>
  </div>
</div>
